h1 title {
    font-size: 50px;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.manage-main-login {
    background-color: #fff;
    border: 1px solid #cccccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

}

.manage-login-button {
    margin-top: 5px;
    text-align: center;
    background-color: #F4874b;
    border-color: #F4874b;
}

.input {
    font-size: large;
}

.info:after {
    content: '\A';
    white-space: pre;
}

.manage-form-group {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.manage-login-group {
    margin-top: 20px;
}

.manage-main {
    margin-top: 30px;
}

.manage-error-block {
    color: orangered;
    font-weight: bold;
}

.manage-error-block span:before {
    content: "\200D";
    display: inline;
}
